// sass-lint:disable clean-import-paths
// sass-lint:disable no-vendor-prefixes
// sass-lint:disable no-important
@import './../global/variables.sass'


.pace
  -moz-user-select: none
  -webkit-user-select: none
  background: $purple-darker
  bottom: 0
  height: 100%
  left: 0
  margin: auto
  overflow: hidden
  pointer-events: none
  position: fixed
  right: 0
  top: 0
  user-select: none
  width: 100%
  z-index: 2000

  .pace-progress
    background: $black
    box-sizing: border-box
    display: block
    height: 100%
    position: absolute
    width: 100%
    z-index: 2000

.pace-inactive
  display: none
