// sass-lint:disable class-name-format
// sass-lint:disable clean-import-paths
// sass-lint:disable no-color-literals
@import './../global/variables.sass'


// Use plugin modal classes
.modal-content
  background-color: $purple
  left: 50%
  max-width: 600px
  outline: 0
  padding: 30px
  position: absolute
  top: 50%
  transform: translate(-50%, -50%)
  width: 100%

  button
    background: transparent
    border: 1px solid $white
    border-radius: 3px
    color: $white
    cursor: pointer
    padding: 10px
    position: fixed
    right: 10px
    top: 10px

  div
    margin-bottom: 18px

.modal-overlay
  background-color: rgba($purple-darker, .7)
  bottom: 0
  height: 100%
  left: 0
  position: fixed
  right: 0
  top: 0
  width: 100%

.modal-button
  background: $purple
  border: 0
  border-radius: 20px
  box-shadow: 2px 2px 0 $purple-dark
  color: $white
  cursor: pointer
  font-size: 1em
  margin-top: 20px
  padding: 10px 20px
