// sass-lint:disable clean-import-paths
@import './../global/variables.sass'


.scroll-demo
  button
    background: $purple-dark
    color: $white
    margin-bottom: 20px
    padding: 10px

.scroll-box
  background: $purple
  height: 200px
  position: absolute
  top: 2000px
  width: 200px
