// Main Colours

$purple: #3300fe
$teal: #00fb9c
$black: #111
$white: #fff
$smoke: #f5f4f4
$gray: #dce3e8

// Secondary Colours

$red: #fb4d3d
$yellow: #f5b841
$blue: #3f8dfc
$green: #17b68b
$secondary-purple: #5e239d

// Tints & Shades Colours

$purple-light: #8079fb
$purple-dark: #2603a5
$purple-darker: #13033c

// Media query sizes
$x-small: '(max-width: 320px)'
$small: '(min-width: 321px) and (max-width: 480px)'
$medium: '(min-width: 481px) and (max-width: 767px)'
$large: '(min-width: 768px) and (max-width: 991px)'
$x-large: '(min-width: 992px) and (max-width: 1200px)'
$xx-large: '(min-width: 1201px) and (max-width: 1600px)'
$xxx-large: '(min-width: 1601px)'


// @media #{$medium}
//   p
//     font-size: 18px

// OR nested

// @media #{$medium}
//   font-size: 22px

